*{
   
   padding: 0;
   margin: 0;
}

body{
    background-color:#1a1a1a;
}
.banner{
height: 700px;
width: 900px;
background-image:url("./assents/banner.png"); /*ele adiciona a imagem de fundo*/
background-repeat: no-repeat;
background-size: cover;
display: flex;
align-items: center;

}

li a{

    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
   padding: 20px;
}

ul{
    display: flex;/* Ativa a propriedade de alinhamento*/
    flex-direction: row;/* Coloca os ementos na horizontal*/
}
li{
list-style: none;/*remove pontos do elementos*/
}

nav{
display: flex;
flex-direction: row;

align-items: center;
justify-content: space-between;
}



#logo{
    height: 100px;
    width: 100px;
}

.bi{
    font-size: 30px;
    color: #4c544c;
}
.texto-banner{
    color: #ffffff;
    font-size: 20px;
    
}
.botao{
    width: 130px;
    height: 56px;
    border-radius: 55px; /*deixar a borda*/
    border-radius: none; /*deixa a borda redonda*/
    color: #ffffff;
    font-weight: bold;
    font-size: 19px;
    background-color: #1a1a1a;
    


}
.elementos-banner{
width: 220px;
display: flex;
justify-content: center;
}

}

.titulo{
color: #ffffff;
font-size: 20px;
font-weight: bold;

}

.produtos{
    width: 380px;
height: 220px;
}
.valor{
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    
}
.estrutura-titulo{
display: flex;
padding: 20px;
justify-content: center;
}
.card-texto{
display: flex;
justify-content: center;
}
.card{
width: 250px;
height: 430px;

}
.cores{
height: 15px;
width: 15px;

}
.vermelho{
    background-color: red;
}
.cinza{
    background-color: gray;
}
.branco{
background-color: white;
}
.preto{
    background-color: black;
}