*{
   background-color:#1a1a1a;
   padding: 0;
   margin: 0;
}


.banner{
height: 700px;
width: 900px;
background-image:url("./assents/banner.png"); /*ele adiciona a imagem de fundo*/
background-repeat: no-repeat;
background-size: cover;

}

li a{

    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
   padding: 20px;
}

ul{
    display: flex;/* Ativa a propriedade de alinhamento*/
    flex-direction: row;/* Coloca os ementos na horizontal*/
}
li{
list-style: none;/*remove pontos do elementos*/
}

nav{
display: flex;
flex-direction: row;

align-items: center;
justify-content: space-between;
}



#logo{
    height: 100px;
    width: 100px;
}

.bi{
    font-size: 30px;
    color: #4c544c;
}
