*{
   background-color:#1a1a1a;
   padding: 0;
   margin: 0;
}


#banner{
height: 555px;
width: 1200px;
}

li a{

    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
   padding: 20px;
}

ul{
    display: flex;/* Ativa a propriedade de alinhamento*/
    flex-direction: row;/* Coloca os ementos na horizontal*/
}
li{
list-style: none;/*remove pontos do elementos*/
}


#logo{
    height: 100px;
    width: 100px;
}